
main{padding-top: 200px;}

#ex{margin-top: 150px;}

.explore{
    width: 274px;
    height: 274px;
    transition: 1s;
}

body{
    
    background-image: url('/src/img/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
  }

.explore:hover{box-shadow: 0px 0px 0 88px rgba(255, 255, 255, 0.1);}

p{
  font-family: Barlow;
  font-size: 18px;
  line-height: 1.78;
}
h1{
    font-family: 'Barlow Condensed';
  font-size: 28px;
  letter-spacing: 4.73px;
}



#text{color: #D0D6F9;}

#text span {
    color: white;
    font-family: 'Bellefair';
    font-size: 150px;
}

@media only screen and (max-width: 1000px){
    main{padding-top: 106px;}
    #ex{margin-top: 80px;}
    body{background-image: url('../img/home/background-home-tablet.jpg');}
}